body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  min-width: 320px;
}
header {
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
}
#mobile-nav {
  display: block;
  margin: 15px auto 0 auto;
  font-size: 1.5rem;
  width: 250px;
}
.nav-line {
  width: 100%;
  height: 1%;
  margin: 15px auto;
  border-top: 1px solid #e6e5e6;
}
nav {
  display: none;
}
nav a {
  outline: none;
}
#urhere {
  border-bottom: 8px solid #eaca6c;
}
 .hover:hover {
  border-bottom: 8px solid #eaca6c;
}
#wrapper {
  max-width: 300px;
  margin: 0 auto;
  font-family: 'Lora', serif;
}
#wrapper p {
  font-size: .9rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 75px;
  margin: 0;
  color: #333;
  font-family: 'Tinos', serif;
  font-weight: normal;
}
.underline {
  width: 100px;
  height: 1%;
  margin: 15px auto 50px auto;
  border-top: 3px solid #e6e5e6;
}
.bold {
  line-height: 1.5em;
  font-weight: bold;
  margin: 0;
}
.regular {
  line-height: 2em;
  color: #919499;
}
.divider {
  max-width: 300px;
  height: 1%;
  margin: 100px auto;
  border-top: 1px solid #e6e5e6;
}
.one img {
  display: block;
  max-width: 100%;
  margin: 25px auto;
}
h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  color: #333;
  font-family: 'Tinos', serif;
  font-weight: normal;
}
.regular-again {
  line-height: 2em;
  color: #919499;
  border-bottom: 1px solid #e6e5e6;
}
.regular-again:hover {
  cursor: pointer;
  color: #eeca6c;
  text-decoration: underline;
}
.last {
  border: none;
}
h4 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  color: #333;
  font-family: 'Tinos', serif;
  font-weight: normal;
}
.two img {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 100%;
}
.three .bold {
  width: 268px;
  text-align: center;
  margin: 0 auto 15px auto;

}
.three .regular {
  width: 268px;
  text-align: center;
  margin: 0 auto;
}
h5 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  color: #333;
  font-family: 'Tinos', serif;
  font-weight: normal;
}
small {
  display: block;
  width: 66.666%;
  margin: 25px auto;
  font-family: 'Lora', serif;
  font-size: .65rem;
  color: #919499;
  text-align: center;
}
#icons {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.fab {
    letter-spacing: 1rem;
    color: #59bdaa;
    font-size: 2.5rem;
}
@media screen and (min-width: 480px){
  #wrapper{
    max-width: 420px;
  }
  h1 {
    font-size: 4rem;
  }
  .divider {
    max-width: 420px;
  }
}
@media screen and (min-width: 768px){
  header {
    height: 25vh;
  }
  #mobile-nav {
    display: none;
  }
  .nav-line {
    display: none;
  }
  nav {
    display: block;
    border-bottom: 1px solid #acb3bf;
    padding-top: 25px;
    padding-bottom: 12px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 1.1rem;
  }
  #nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(6, 2fr);
    grid-template-rows:repeat(1, minmax(0px, auto));
  }
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
  }
  .nav-one {
    grid-column: 1/2;
    height: 100%;
    padding-bottom: 5px;
  }
  .nav-two {
    grid-column: 2/3;
    height: 100%;
    padding-bottom: 5px;
  }
  .nav-three {
    grid-column: 3/4;
    height: 100%;
    padding-bottom: 5px;
  }
  .nav-four {
    grid-column: 4/5;
    height: 100%;
    padding-bottom: 5px;
  }
  .nav-five {
    grid-column: 5/6;
    height: 100%;
    padding-bottom: 5px;

  }
  .nav-six {
    grid-column: 6/7;
    height: 100%;
    padding-bottom: 5px;

  }
   nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    border-right: 1px solid #acb3bf;
  }
   .nav-six a{
    border-right: none;
  }
  #wrapper {
    max-width: 760px;
    display: grid;
    grid-template-columns:repeat(6, 2fr);
    grid-template-rows:repeat(2, minmax(0px, auto));
    grid-gap: 25px;
  }
  .one {
    grid-column: 1/5;
    grid-row: 1;
  }
  .two {
    grid-column: 5/7;
    grid-row: 1;
  }
  h3 {
    padding-top: 50px;
  }
  h4 {
    padding-top: 50px;
  }
  h5 {
    padding-top: 50px;
  }
  .divider {
    max-width: 760px;
  }
}
@media screen and (min-width: 980px){
  #intro {
    top: 40%;
  }
  #wrapper {
    max-width: 1000px;
  }
  .divider {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1200px){
  #wrapper {
    width: 95%;
    max-width: 1200px;
  }
  .one img {
    margin: 25px 0;
  }
  .divider {
    max-width: 1200px;
  }
}
